/* ================ GLOBAL ================== */

body {
	margin				: 20px;
	padding				: 0;
	overflow-y			: scroll;
	
	background-color	: #ddd;  /* #FFFFFF; */  /* #333322 */
	
	font-family			: Arial, Helvetica, sans-serif; 
	
	-webkit-font-smoothing: antialiased; 
	-webkit-text-size-adjust: none;
	
	font-size			: 100%; 
	line-height			: 1.5em;
	color				: #1c1c1c;
}

.reference-img {
	width: 800px;
	object-fit: contain
}